.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;

    /* background-color: #BAC3D2; */
    gap: 20px;

}

.dropdown li {
    padding: 10px;
    color: var(--text-color);
    cursor: pointer;
    transition: background 0.3s;
}
.dropdown li img{
    width: 20px;
    height: 20px;
}
.dropdown li:hover {
    background: var(--primary-hover);
}
.menu-btn {
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: transparent;
    color: var(--text-color);
    text-align: left;
    width: 100%;
}


.container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sidebar {
    width: 100%;
    max-width: 300px;
    background: var(--primary-color);
    color: var(--text-color);
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;   
    align-items: center;
}

.sidebar ul li {
    height: 30px;
    width: 95%;
    padding: 10px;
    background-color: var(--button-color);
    margin-bottom: 5px;
    cursor: pointer;
    color: var(--secondary-color);
    font-family: 'Poppins', sans-serif;
}

.sidebar ul li img{
    width: 20px;
    height: 20px;
}


.content {
    max-width: 1500px;
    max-height: 1000px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: var(--header-color);
    justify-content: space-between;
}



