{% extends 'main/base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'product/css/catalog.css' %}">
{% endblock %}

{% block content %}
    
    <div class="categories-container">
    <form method="get" action="" class="filter-form">
        <div class="category-filter">
            <div class="name-filter">
                <label>Название</label>
                <input type="text" name="name" value="{{ name }}" placeholder="Название">
            </div>
            <select name="category">
                <option value="">Все категории</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if selected_category == category.id|stringformat:"s" %}selected{% endif %}>
                        {{ category.name }}
                    </option>
                {% endfor %}
            </select>
            
            <label>Бренды</label>
            <div class="brands-filter">
                {% for brand in brands %}
                    <label class="brand-checkbox">
                        <input type="checkbox" name="brand" value="{{ brand.id }}" 
                            {% if brand.id|stringformat:"s" in selected_brands %}checked{% endif %}>
                        <span class="brand-label">{{ brand.name }}</span>
                    </label>
                {% endfor %}
            </div>
        </div>
        <label for="priceMin">Цена</label>
        <div class="price-filter">
            <input type="number" name="priceMin" value="{{ price_min }}" placeholder="Мин. цена">
            <input type="number" name="priceMax" value="{{ price_max }}" placeholder="Макс. цена">
        </div>
        <label for="sorting">Сортировка</label>
        <div class="sorting">
            <select name="sorting">
                <option value="">Сортировка</option>
                <option value="score" {% if sorting == 'score' %}selected{% endif %}>По рейтингу</option>
                <option value="price_asc" {% if sorting == 'price_asc' %}selected{% endif %}>По возрастанию цены</option>
                <option value="price_desc" {% if sorting == 'price_desc' %}selected{% endif %}>По убыванию цены</option>
                <option value="name" {% if sorting == 'name' %}selected{% endif %}>По названию</option>
                <option value="newest" {% if sorting == 'newest' %}selected{% endif %}>Сначала новые</option>
            </select>
        </div>
        
        <button type="submit">Применить</button>
    </form>

    <div class="product-grid">
        {% if products %}
        {% for product in products %}
                {% if product.status == 'published' %}
                {% if product.get_absolute_url %}
                <div class="product-item">
                    <div class="product-card">
                        {% if product.image %}
                        <img src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}">
                        {% else %}
                        <img src="{% static 'product/images/placeholder.jpg' %}" alt="{{ product.name }}">
                        {% endif %}
                        <div class="product-name">{{product.name|truncatechars:20}}</div>
                        <div class="product-description">{{product.description|truncatechars:40}}</div>
                        <div class="product-price">{{product.price}} ₸</div>
                        <p class="rating">
                            Рейтинг: {{ product.avg_rating|default:"Нет оценок"|floatformat:1 }}
                        </p>
                        <a href="{{ product.get_absolute_url }}" class="buy-button">Купить</a>
                    </div>
                </div>
                {% else %}
                <p>Товара нет</p>
                {% endif %}
                {% endif %}
            {% endfor %}
            {% else %}
            <p>Товаров нет</p>
            {% endif %}
        </div>
    </div>
{% endblock %}