{% extends 'main/base.html' %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'auth/css/form.css' %}">
{% endblock %}
{% block content %}
    <h1>Смена пароля</h1>
    <form method="post">
        
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Сменить пароль</button>
    </form>
{% endblock %}


