{% extends 'main/base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'auth/css/form.css' %}">
{% endblock %}

{% block content %}
<div class="checkout-container">
    <h1>Смена пароля</h1>
    
    <div class="checkout-section">
        <div class="section-header">
            <span class="section-number">1</span>
            <h2>Введите новый пароль</h2>
        </div>

        <form method="post" class="contact-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group-lol">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="form-error">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="primary-button">Сменить пароль</button>
        </form>
    </div>
</div>
{% endblock %}


